.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 500px;
    background-color: white;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}